nav {
  height: 50px;
  background: #4e4e4e;
  display: flex;
  align-items: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.nav-cont,
.foot {
  width: 960px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company,
.nav-offer > a {
  font-size: 18px;
  text-decoration: none;
}

.nav-offer > a {
  color: #f1f1f1;
}

.company {
  font-weight: bold;
}

.nav-offer {
  color: #f1f1f1;
  padding-left: 46px;
}

.disabled {
  cursor: not-allowed;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
